<?xml version="1.0" encoding="UTF-8"?>
<suite name="Extent Report">

	<listeners>
		<listener
			class-name="extentlisteners.ExtentListerners" />
	</listeners>

	<test name="Login Tests">
		<classes>
			<class name="testcases.LoginTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->